testscript/Workflow/WS/cfg/Array_operation/SimpleArray.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. -->
<definitions targetNamespace="http://sybase.com/" name="SimpleArray" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://sybase.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
 <xs:schema version="1.0" targetNamespace="http://sybase.com/" xmlns:tns="http://sybase.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Sort" nillable="true" type="tns:sort"/>
  <xs:element name="SortResponse" nillable="true" type="tns:sortResponse"/>
  <xs:element name="hello" nillable="true" type="tns:hello"/>
  <xs:element name="helloResponse" nillable="true" type="tns:helloResponse"/>
  <xs:complexType name="sort">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sortResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </types>
  <message name="Sort">
    <part name="parameters" element="tns:Sort"/>
  </message>
  <message name="SortResponse">
    <part name="parameters" element="tns:SortResponse"/>
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <portType name="SimpleArray">
    <operation name="Sort">
      <input wsam:Action="http://sybase.com/SimpleArray/SortRequest" message="tns:Sort"/>
      <output wsam:Action="http://sybase.com/SimpleArray/SortResponse" message="tns:SortResponse"/>
    </operation>
    <operation name="hello">
      <input wsam:Action="http://sybase.com/SimpleArray/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://sybase.com/SimpleArray/helloResponse" message="tns:helloResponse"/>
    </operation>
  </portType>
  <binding name="SimpleArrayPortBinding" type="tns:SimpleArray">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="Sort">
      <soap:operation soapAction="http://10.56.253.172:8080/Sort"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="http://10.56.253.172:8080/hello"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SimpleArray">
    <port name="SimpleArrayPort" binding="tns:SimpleArrayPortBinding">
      <soap:address location="http://10.56.253.172:8080/Test_SimpleArray_WS/SimpleArray" />
    </port>
  </service>
</definitions>

